* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  padding: 0 7%;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    padding: 0 3%;
  }
}

.landing {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.9;
  height: 100vh;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.landing .bars {
  position: fixed;
  top: 40px;
  right: 60px;
  display: block;
  cursor: pointer;
  z-index: 99;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.landing .bars span {
  width: 30px;
  height: 2px;
  background-color: #ffff;
  -webkit-box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
  display: block;
  margin: 7px 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.landing .bars.active {
  right: 300px;
}

.landing .bars.active span {
  background-color: #000;
  -webkit-box-shadow: 0px 0px 2px #000;
          box-shadow: 0px 0px 2px #000;
}

.landing .bars.active span:nth-child(1) {
  -webkit-transform: rotate(45deg) translateX(6px);
          transform: rotate(45deg) translateX(6px);
  color: #000;
}

.landing .bars.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translateX(7px);
          transform: rotate(-45deg) translateX(7px);
}

.landing .bars.active span:nth-child(3) {
  display: none;
}

.landing .content {
  position: absolute;
  top: 30%;
  left: 15%;
  color: #fff;
}

@media (max-width: 767px) {
  .landing .content {
    left: 10%;
  }
}

.landing .content h3 {
  width: 50%;
  font-size: 60px;
  font-family: "Baloo Da 2", serif;
  font-weight: 400;
  line-height: 1.2;
}

@media (max-width: 767px) {
  .landing .content h3 {
    width: 100%;
    font-size: 45px;
  }
}

.landing .content p {
  letter-spacing: 2px;
  width: 70%;
  font-size: 30px;
  font-family: "Josefin Slab", serif;
  line-height: 1.1;
}

@media (max-width: 767px) {
  .landing .content p {
    width: 100%;
    font-size: 25px;
  }
}

.landing .content .btn {
  text-transform: uppercase;
  margin-top: 20px;
  background-color: #c29525;
  border: none;
  padding: 15px 30px;
  color: #fff;
  font-family: "Muli", serif;
}

.landing nav {
  position: fixed;
  right: -600px;
  background-color: #fff;
  height: 100vh;
  width: 400px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

@media (max-width: 500px) {
  .landing nav {
    width: 100%;
  }
}

.landing nav ul {
  list-style: none;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing nav ul li {
  font-family: "Baloo Da 2", serif;
  text-align: center;
  margin: 15px 0;
  font-size: 28px;
  color: #555;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.landing nav ul li:hover {
  color: #c29525;
}

.landing nav .icons {
  width: 100%;
  position: absolute;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing nav .icons div {
  background-color: #555;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.landing nav .icons div:hover {
  background-color: #c29525;
}

.landing nav .icons div i {
  text-align: center;
  font-size: 24px;
  color: #fff;
}

.landing nav.active {
  right: 0;
}

.heading {
  font-family: "Muli", serif;
  text-align: center;
  color: #4b4b4b;
  font-size: 45px;
  font-weight: 500;
  padding: 20px 0;
  position: relative;
}

.heading::before {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  width: 100px;
  height: 3px;
  background-color: #c29525;
}

.about-us {
  padding: 80px 0;
  background-color: #f5f5f5;
  position: relative;
  z-index: -1;
}

.about-us .row {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 991px) {
  .about-us .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
}

.about-us .row .col-main {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.about-us .row .col-main .col .box {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.about-us .row .col-main .col .box i {
  margin-right: 20px;
  font-size: 40px;
  color: #4b4b4b;
}

.about-us .row .col-main .col .box h3 {
  font-family: "Baloo Da 2", serif;
  font-size: 22px;
  color: #4b4b4b;
}

.about-us .row .col-main .col p {
  font-family: "Josefin Slab", serif;
  text-align: justify;
  font-size: 16px;
}

.about-us .row .img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  margin: 0 30px;
}

.about-us .row .img img {
  max-width: 100%;
}

.our-team {
  padding: 80px 0;
  width: 100%;
}

.our-team .row {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .our-team .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.our-team .row .col {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  position: relative;
  z-index: -1;
  border-radius: 5px;
  overflow: hidden;
}

.our-team .row .col:hover .content {
  bottom: 0px;
}

.our-team .row .col:hover .img img {
  opacity: 0.5;
}

.our-team .row .col .img {
  -webkit-box-shadow: 0 3px 7px black;
          box-shadow: 0 3px 7px black;
  width: 100%;
  height: 400px;
  margin: auto;
  border-radius: 5px;
  background-color: #262626;
}

@media (max-width: 767px) {
  .our-team .row .col .img {
    width: initial;
    height: initial;
  }
}

.our-team .row .col .img img {
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.8;
}

.our-team .row .col .content {
  position: absolute;
  bottom: -250px;
  padding: 20px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.our-team .row .col .content h3 {
  font-family: "Baloo Da 2", serif;
  font-weight: 400;
  font-size: 22px;
  color: #eee;
}

.our-team .row .col .content span {
  font-family: "Muli", serif;
  color: #a52a2a;
  font-size: 18px;
}

.our-team .row .col .content p {
  font-family: "Baloo da 2", serif;
  color: #eee;
  font-size: 14px;
}

.our-team .row .col .content .btn {
  background-color: #c29525;
  display: inline-block;
  border: none;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  margin-top: 15px;
  cursor: pointer;
}

.contact {
  background-color: #272727;
  height: 100vh;
  overflow: hidden;
}

.contact .row {
  padding: 3% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.contact .row .col-img {
  position: relative;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

@media (max-width: 767px) {
  .contact .row .col-img {
    -ms-flex-preferred-size: 0%;
        flex-basis: 0%;
  }
}

.contact .row .col-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contact .row .col-img::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.contact .row .col-form {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  background-color: #eee;
}

@media (max-width: 767px) {
  .contact .row .col-form {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.contact .row .col-form h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Baloo Da 2", serif;
  color: #272727;
  font-weight: 300;
}

.contact .row .col-form form {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .row .col-form form .box {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 40px 0;
  border-bottom: 2px dashed #272727;
  position: relative;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.contact .row .col-form form .box span {
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  font-family: "Baloo Da 2", serif;
  color: #4b4b4b;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.contact .row .col-form form .box input,
.contact .row .col-form form .box textarea {
  padding: 10px 0;
  border: none;
  background-color: transparent;
}

.contact .row .col-form form .box input:focus,
.contact .row .col-form form .box textarea:focus {
  outline: none;
}

.contact .row .col-form form .box.active {
  border-bottom: 2px solid #272727;
}

.contact .row .col-form form .box.active span {
  bottom: 40px;
  font-size: 12px;
}

.contact .row .col-form form .btn {
  font-family: "Muli", serif;
  display: block;
  text-transform: uppercase;
  background-color: #c29525;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 22px;
  width: 60%;
  border: none;
  padding: 10px 0;
  cursor: pointer;
  -webkit-transition: 0.1s linear;
  transition: 0.1s linear;
}

.contact .row .col-form form .btn:hover {
  -webkit-box-shadow: 1px 3px 5px #000;
          box-shadow: 1px 3px 5px #000;
}

footer {
  background-color: #17181b;
  padding: 60px 0;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .container div p {
  font-family: "Baloo Da 2", serif;
  color: #a7a7a7;
  font-size: 18px;
}

footer .container .icons i {
  color: #a7a7a7;
  font-size: 30px;
  margin: 20px;
}
/*# sourceMappingURL=main.css.map */