.about-us {
    padding: 80px 0;
    background-color: #f5f5f5;
    position: relative;
    z-index: -1;
    .row {
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: 991px) {
            flex-direction: column;
            gap: 50px;
        }
        .col-main {
            flex-basis: 30%;
            display: flex;
            flex-direction: column;
            gap: 30px;
            .col {
                .box {
                    flex-basis: 25%;
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;
                    i {
                        margin-right: 20px;
                        font-size: 40px;
                        color: #4b4b4b;
                    }
                    h3 {
                        font-family: "Baloo Da 2", serif;
                        font-size: 22px;
                        color: #4b4b4b;
                    }
                }
                p {
                    font-family: "Josefin Slab", serif;
                    text-align: justify;
                    font-size: 16px;
                }
            }
        }
        .img {
            flex-basis: 40%;
            margin: 0 30px;
            img {
                max-width: 100%;
            }
        }
    }
}
