footer {
    background-color: #17181b;
    padding: 60px 0;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            p {
                font-family: "Baloo Da 2", serif;
                color: #a7a7a7;
                font-size: 18px;
            }
        }
        .icons {
            i {
                color: #a7a7a7;
                font-size: 30px;
                margin: 20px;
            }
        }
    }
}
