.landing {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.9;
    height: 100vh;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    .bars {
        position: fixed;
        top: 40px;
        right: 60px;
        display: block;
        cursor: pointer;
        z-index: 99;
        transition: 0.4s linear;
        span {
            width: 30px;
            height: 2px;
            background-color: #ffff;
            box-shadow: 1px 3px 5px rgba(#000000, 0.4);
            display: block;
            margin: 7px 0;
            transition: 0.2s linear;
        }
        &.active {
            right: 300px;
            span {
                background-color: #000;
                box-shadow: 0px 0px 2px #000;
            }
            span:nth-child(1) {
                transform: rotate(45deg) translateX(6px);
                color: #000;
            }
            span:nth-child(2) {
                transform: rotate(-45deg) translateX(7px);
            }
            span:nth-child(3) {
                display: none;
            }
        }
    }
    .content {
        position: absolute;
        top: 30%;
        left: 15%;
        color: #fff;
        @media (max-width: 767px) {
            left: 10%;
        }
        h3 {
            width: 50%;
            font-size: 60px;
            font-family: "Baloo Da 2", serif;
            font-weight: 400;
            line-height: 1.2;
            @media (max-width: 767px) {
                width: 100%;
                font-size: 45px;
            }
        }
        p {
            letter-spacing: 2px;
            width: 70%;
            font-size: 30px;
            font-family: "Josefin Slab", serif;
            line-height: 1.1;
            @media (max-width: 767px) {
                width: 100%;
                font-size: 25px;
            }
        }
        .btn {
            text-transform: uppercase;
            margin-top: 20px;
            background-color: $main;
            border: none;
            padding: 15px 30px;
            color: #fff;
            font-family: "Muli", serif;
        }
    }
    nav {
        position: fixed;
        right: -600px;
        background-color: #fff;
        height: 100vh;
        width: 400px;
        transition: 0.4s linear;
        @media (max-width: 500px) {
            width: 100%;
        }
        ul {
            list-style: none;
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translateX(-50%);
            li {
                font-family: "Baloo Da 2", serif;
                text-align: center;
                margin: 15px 0;
                font-size: 28px;
                color: #555;
                cursor: pointer;
                transition: 0.2s linear;
                &:hover {
                    color: $main;
                }
            }
        }
        .icons {
            width: 100%;
            position: absolute;
            bottom: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            div {
                background-color: #555;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                transition: 0.2s linear;
                &:hover {
                    background-color: $main;
                }
                i {
                    text-align: center;
                    font-size: 24px;
                    color: #fff;
                }
            }
        }
        &.active {
            right: 0;
        }
    }
}
