.heading {
    font-family: "Muli", serif;
    text-align: center;
    color: #4b4b4b;
    font-size: 45px;
    font-weight: 500;
    padding: 20px 0;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        width: 100px;
        height: 3px;
        background-color: $main;
    }
}
